.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 90px auto 0 auto;
  max-width: 984px;
}
.content__introduction {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.content__introduction-title {
  font-family: "Inter", Arial, sans-serif;
  font-weight: 900;
  font-size: 96px;
  line-height: 100px;
  text-align: center;
  max-width: 720px;
}
.content__introduction-subtitle {
  max-width: 720px;
  margin: 32px 0 0 0;
  font-family: "Inter", Arial, sans-serif;
  font-weight: 400;
  font-size: 30px;
  line-height: 36px;
  letter-spacing: 0%;
  text-align: center;
}
.content__introduction-image {
  margin-top: 64px;
  max-width: 76.87vw;
  box-shadow: 10px 10px 20px #00000079;
}
.content__description {
  margin-top: 92px;
  display: flex;
  flex-direction: column;
  max-width: 830px;
  align-self: flex-start;
}
.content__description-title {
  font-family: "Inter", Arial, sans-serif;
  font-weight: 900;
  font-size: 54px;
  line-height: 58px;
  letter-spacing: 0%;
  max-width: 830px;
  margin: 0 0 40px 0;
}
.content__description-quote {
  font-family: "Inter", Arial, sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 34px;
  max-width: 738px;
  margin: 0 0 10px 0;
}
.content__description-quote-author {
  font-family: "Inter", Arial, sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 34px;
  align-self: flex-end;
  max-width: 732px;
  margin: 0 0 31px 0;
}
.content__description-text {
  font-family: "Inter", Arial, sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 163%;
  max-width: 722px;
  margin: 0;
}
@media screen and (max-width: 1024px) {
  .content {
    max-width: 768px;
    padding-top: 30px;
    margin: auto;
  }
  .content__introduction-title {
    font-size: 75px;
    line-height: 79px;
    margin: 0 0 25px 0;
  }
  .content__introduction-subtitle {
    margin: 0 0 30px 0;
    font-size: 30px;
    line-height: 36px;
  }
  .content__introduction-image {
    max-width: 100vw;
    height: 480px;
    margin: 0 0 90px 0;
  }
  .content__description {
    padding: 0;
    max-width: 720px;
    max-height: 490;
    margin: auto;
  }
  .content__description-title {
    font-size: 45px;
    line-height: 49px;
  }
  .content__description-quote .content__description-quote-author {
    font-size: 24px;
    line-height: 34px;
  }
  .content__description-text {
    font-size: 16px;
    line-height: 163%;
  }
}
@media screen and (max-width: 544px) {
  .content {
    width: 320px;
    padding-top: 20px;
  }
  .content__introduction-title {
    width: 228px;
    font-size: 40px;
    line-height: 44px;
    margin: 0 0 16px 0;
  }
  .content__introduction-subtitle {
    font-size: 16px;
    line-height: 20px;
    margin: 0 0 40px 0;
    width: 288px;
  }
  .content__introduction-image {
    max-width: 100vw;
    height: 200px;
    margin: 0 0 64px 0;
  }
  .content__description {
    padding: 0;
    width: 288px;
    margin: auto;
  }
  .content__description-title {
    font-size: 32px;
    line-height: 35px;
  }
  .content__description-quote {
    font-size: 24px;
    line-height: 30px;
  }
  .content__description-quote-author {
    font-size: 24px;
    line-height: 34px;
  }
  .content__description-text {
    font-size: 16px;
    line-height: 163%;
  }
}
