.content {
  margin-top: 92px;
}
.content__title {
  font-family: "Inter";
  font-weight: 900;
  font-size: 54px;
  line-height: 58px;
  letter-spacing: 0%;
  max-width: 830px;
}
.content__quote {
  font-family: "Inter";
  font-weight: 400;
  font-size: 24px;
  line-height: 34px;
  letter-spacing: 0%;
  max-width: 738px;
}
.content__quote-author {
  font-family: "Inter";
  font-weight: 400;
  font-size: 24px;
  line-height: 34px;
  letter-spacing: 0%;
  text-align: right;
  max-width: 732px;
}
.content__description {
  font-family: "Inter";
  font-weight: 400;
  font-size: 16px;
  line-height: 163%;
  letter-spacing: 0%;
  max-width: 722px;
}
