.footer {
  margin: 92px auto 0 auto;
  padding-bottom: 24px;
  max-width: 166px;
}
.footer-text {
  text-align: right;
  font-family: "Inter";
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0%;
}
