.header {
  display: flex;
  justify-content: center;
  padding-top: 34px;
}
.header__logo {
  width: 254px;
  height: 70px;
}

@media screen and (max-width: 1024px) {
  .header {
    max-width: 768px;
    max-height: 951px;
    padding-top: 30px;
    margin: auto;
  }
  .header__logo {
    width: 254px;
    height: 66px;
  }
}
@media screen and (max-width: 544px) {
  .header {
    margin: auto;
    width: 320px;
    padding-top: 20px;
  }
  .header__logo {
    width: 188px;
    height: 52px;
    margin: 0 0 50px 0;
  }
}
