.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 34px;
}
.header__logo {
  width: 254px;
  height: 70px;
}
.header__title {
  margin: 90px 0 0 0;
  font-family: "Inter", sans-serif;
  font-weight: 900;
  font-size: 96px;
  line-height: 100px;
  text-align: center;
  max-width: 720px;
}
.header__subtitle {
  max-width: 720px;
  margin: 32px 0 0 0;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 30px;
  line-height: 36px;
  letter-spacing: 0%;
  text-align: center;
  color: gray;
}
.header__image {
  margin-top: 64px;
  max-width: 984px;
  max-height: 615px;
}
