.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 90px 0 0 0;
}
.main__title {
  font-family: "Inter", Arial, sans-serif;
  font-weight: 900;
  font-size: 96px;
  line-height: 100px;
  text-align: center;
  max-width: 720px;
}
.main__subtitle {
  max-width: 720px;
  margin: 32px 0 0 0;
  font-family: "Inter", Arial, sans-serif;
  font-weight: 400;
  font-size: 30px;
  line-height: 36px;
  letter-spacing: 0%;
  text-align: center;
}
.main__image {
  margin-top: 64px;
  max-width: 76.87vw;
}
@media screen and (max-width: 1024px) {
  .main {
    max-width: 768px;
    padding-top: 30px;
    margin: auto;
  }
  .main__title {
    font-size: 75px;
    line-height: 79px;
    margin: 0 0 25px 0;
  }
  .main__subtitle {
    margin: 0 0 30px 0;
    font-size: 30px;
    line-height: 36px;
  }
  .main__image {
    max-width: 100vw;
    height: 480px;
    margin: 0 0 90px 0;
  }
}
@media screen and (max-width: 544px) {
  .main {
    width: 320px;
    padding-top: 20px;
  }
  .main__title {
    width: 228px;
    font-size: 40px;
    line-height: 44px;
    margin: 0 0 16px 0;
  }
  .main__subtitle {
    font-size: 16px;
    line-height: 20px;
    margin: 0 0 40px 0;
    width: 288px;
  }
  .main__image {
    max-width: 100vw;
    height: 200px;
    margin: 0 0 64px 0;
  }
}
