.page {
  background-color: #2a2c2f;
  background-size: cover;
  margin: 0;
  height: 100%;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  padding: 0 142px;
  max-width: 100vw;
}
.page__content {
  margin: 0 auto 0 auto;
  display: flex;
  flex-direction: column;
  max-width: 984px;
  padding: 0;
}
@media screen and (max-width: 1024px) {
  .page {
    padding: 0;
    margin: 0;
  }
}
@media screen and (max-width: 544px) {
  .page {
    margin: 0;
    padding: 0;
  }
}
