.photos__grid {
  max-width: 100vw;
  display: grid;
  grid-template-columns: repeat(4, auto);
  grid-template-rows: repeat(2, auto);
  gap: 16px;
  list-style-type: none;
  margin-top: 118px;
}
.photos__grid-image {
  max-width: 22.2vw;
  object-fit: cover;
}
@media (max-width: 1024px) {
  .photos__grid {
    grid-template-columns: repeat(2, auto);
    grid-template-rows: repeat(4, 1fr);
    gap: 16px;
    margin: auto;
    max-width: 720px;
  }
  .photos__grid-image {
    size: cover;
    margin: 0;
    max-width: 100%;
  }
}
@media (max-width: 544px) {
  .photos__grid {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(8, 1fr);
    gap: 12px;
    max-width: 288px;
  }
  .photos__grid-image {
    max-width: 100%;
  }
}
