.places {
  margin-top: 92px;
}

.places__cards {
  max-width: 984px;
  margin: 0 auto;
  gap: 80px;
  display: flex;
  flex-direction: column;
}
.places__card {
  display: grid;
  grid-template-rows: 1fr auto auto auto;
  grid-template-columns: 1fr 1fr;
}
.places__card-title {
  grid-row: 1;
  grid-column: 1;
  font-family: "Inter", Arial, sans-serif;
  font-weight: 900;
  font-size: 72px;
  line-height: 76px;
  max-width: 460px;
}
.places__card-author {
  grid-row: 1;
  grid-column: 2;
  font-family: "Inter", Arial, sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  margin-top: auto;
  display: flex;
  align-items: flex start;
  flex-direction: column;
}
.places__author-description {
  font-family: "Inter", Arial, sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 100%;
  letter-spacing: 12%;
  text-transform: uppercase;
  color: #aaaaaa;
}
.places__card-image {
  grid-row: 2 / 3;
  grid-column: 1;
  max-width: 460px;
  box-shadow: 5px 5px 10px #00000040;
  margin-bottom: 48px;
}
.places__card-image:hover {
  opacity: 50%;
}
.places__card-text {
  grid-row: 2 / span 3;
  grid-column: 2;
  font-family: "Inter", Arial, sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 163%;
  display: flex;
  align-items: flex-start;
  max-width: 484px;
  gap: 25px;
  flex-direction: column;
  margin: 0;
}
.places__card-button {
  grid-row: 3;
  grid-column: 1;
  text-decoration: none;
  color: #fff;
  font-family: "Inter", Arial, sans-serif;
  font-weight: 600;
  font-size: 18px;
  line-height: 100%;
  border-radius: 5px;
  background: linear-gradient(to right, #0278fe 0%, #003a7b 100%);
  max-width: 356px;
  max-height: 18px;
  text-align: center;
  padding: 13px 20px;
  box-shadow: 5px 5px 10px 0px #00000040;
}
.places__card-button:hover {
  background: 50% linear-gradient(to right, #004696 0%, #002147 100%);
}
@media (max-width: 1024px) {
  .places__cards {
    gap: 72px;
    margin: auto;
    max-width: 720px;
    margin-top: 88px;
  }
  .places__card-title {
    font-size: 42px;
    line-height: 46px;
    max-width: 460px;
    margin-left: 16px;
  }
  .places__author-description {
    font-size: 12px;
    line-height: 100%;
  }
  .places__card-author {
    font-size: 18px;
    line-height: 22px;
    margin-left: 13px;
  }
  .places__card-text {
    font-size: 16px;
    max-width: 352px;
    margin-left: 13px;
  }
  .places__card-image {
    max-width: 340px;
  }
  .places__card-image:hover {
    opacity: 50%;
  }
  .places__card-button {
    font-size: 18px;
    line-height: 100%;
    padding: 13px 20px;
    max-width: 355px;
  }
  .places__card-button:hover {
    background: 50% linear-gradient(to right, #004696 0%, #002147 100%);
  }
}
@media (max-width: 544px) {
  .places__cards {
    gap: 50px;
    max-width: 100%;
    margin-top: 62px;
  }
  .places__card {
    grid-template-rows: repeat(5, auto);
    grid-template-columns: 1fr;
  }
  .places__card-title {
    grid-row: 1;
    grid-column: 1;
    font-size: 32px;
    line-height: 35px;
  }
  .places__card-author {
    grid-row: 2;
    grid-column: 1;
    font-size: 18px;
    line-height: 22px;
  }
  .places__author-description {
    font-size: 12px;
    line-height: 100%;
  }
  .places__card-image {
    grid-row: 3;
    grid-column: 1;
    max-width: 100vw;
  }
  .places__card-text {
    grid-row: 4;
    grid-column: 1;
    font-size: 16px;
  }
  .places__card-button {
    grid-row: 5;
    grid-column: 1;
    font-size: 14px;
    padding: 15px 21px;
    max-width: 85vw;
    margin: 30px auto 0 auto;
  }
  .places__card-button:hover {
    background: 50% linear-gradient(to right, #004696 0%, #003067 100%);
  }
}
